* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Condensed Open Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
header {
  grid-area: header;
  background-color: #37FDFC;
  display: flex;
  grid-template-areas: 1fr 1fr;
}
header .logo {
  display: flex;
  margin: 0 1.2rem;
}
header .logo h1 {
  font-size: 2rem;
}
header .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  text-align: center;
}
header .nav-links a {
  margin: 0 1.2rem;
  font-size: 1.3rem;
  box-shadow: 1px 1px 1px 1px;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.sidebar {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main" "footer footer";
  grid-gap: 50px;
}
.sidebar {
  font-size: 5rem;
  height: 100vh;
  text-align: center;
}
