.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#flex-grid-box {
    height: 100%;
}

.wrapper {
    display: grid;
    align-content: stretch;
    grid-template-columns: 2fr 1fr 7fr;
    grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "flower about about-text"
   "contact projects projects-carousel";
    grid-gap: 2%;
    justify-content: center;
    align-content: start;
    background-color: #F7DD23;
    height: 100%;
    background-image: url("https://i.imgur.com/KHdXGUA.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    @media only screen and (max-width: 600px) {

        grid-template-columns: 2fr 8fr;
        grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas: 
       "about about-text"
       "projects projects-carousel"
       "contact contact";
    }




}

#flower, #contact {
    place-self: center;
}

#about, #projects {

    font-size: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    place-self: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: white;
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
    }

}

#about-text {
    text-align: center;
    align-self: center;
    place-self: center;
    padding: 10%;
    line-height: 1.5;
    font-size: 1.8rem;
  
    hr {
        border: solid black;
    }
   

    @media only screen and (max-width: 600px) {
        font-size: 1.3rem;
        line-height: 1.1;
    }
}

#projects-div {
    place-self: center;
}

#contact {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    @media only screen and (max-width: 600px) {
        font-size: 1rem;
    }
    i {
        font-size: 2rem;
        color: white;
        @media only screen and (max-width: 600px) {
        font-size: 1rem;
        margin: 5%;

        }
    }
    ul {
        list-style-position: outside;
        padding: 0;
    };

    a {
        margin: 0 5%;
        @media only screen and (max-width: 600px) {
            margin: 0;
        }
    }
}

#flower, #contact {
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

#contact-2 {
    text-align: center;
    margin-top: 5%;
    margin: 0;
    color: white;
    font-size: 2rem;
    i {
        color: white;
        margin: 1.1rem;
    }


    @media only screen and (min-width: 600px) {
        display: none;
    }

}