.wrapper {
    display: grid;
    grid-template-columns: 21.5% 10.5% 69%;
    grid-template-rows: 40% 40% 10%;
   grid-template-areas: 
   "flower about about-text"
   "contact projects projects-carousel"
   "footer footer footer";
    grid-gap: 1.2rem;
}

#about, #projects {

    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

#about-text {
    text-align: center;
    align-self: center;
}
