header {
    color: black;
    grid-area: header;
    display: flex;
    grid-template-areas: 1fr 1fr;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        overflow: hidden;
        margin-top: 2.5%;
      }
    
    .logo {
        display: flex;
        margin: 0 0 0 5%;
        h1 {
            font-size: 3rem;
            color: #FFF;
            white-space: nowrap;

            @media only screen and (max-width: 600px) {
                font-size: 2rem;
            }

        }
    }
    .nav-links {
        display: flex;
        margin: 0 5% 0 0;
        align-items: center;
        max-width: 100%;
        text-align: center;
        color: black;
        @media only screen and (max-width: 600px) {
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: flex-end;
         margin: 0 5% 0 0;
         padding: 0 5% 0 0;
        }
        

        a {
            margin: 0;
            font-size: 1.3rem;
            width: 8rem;
            height: 1.5rem;
            font-size: 1.7rem;
            font-weight: bold;
            line-height: 1.5rem;


            @media only screen and (max-width: 600px) {
                width: 2rem;
                height: 1rem;
                font-size: 1rem;
              }


        }
        .projects-link {
            color: @blue;
        }    
    }
}