header {
    color: black;
    grid-area: header;
    display: flex;
    grid-template-areas: 1fr 1fr;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        overflow: hidden;
      }
    
    .logo {
        display: flex;
        margin: 0 0 0 5%;
        h1 {
            font-size: 2rem;
            color: #2E2F43;
            white-space: nowrap;

        }
    }
    .nav-links {
        display: flex;

        align-items: center;
        max-width: 100%;
        text-align: center;
        margin: 0;
        color: black;
        @media only screen and (max-width: 600px) {
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: flex-end;
         margin: 0 5% 0 0;
         padding: 0 5% 0 0;
        }
        

        a {
            margin: 0 1.2rem;
            font-size: 1.3rem;
            width: 8rem;
            height: 1.5rem;
            font-size: 1.7rem;
            color: black;
            font-weight: bold;
            @media only screen and (max-width: 600px) {
                width: 1rem;
                height: 1rem;
                font-size: 1rem;
                width: 1rem;
                height: 1rem;
              }


        }
        // .projects-link {
        //     color: @purple;
        // }
        .contact-link {
            color: @blue;
        }        
    }
}