* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.main-banner {
    margin: 20px auto;
    width: 1200px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
       
}

.welcome {
    margin: 0px;
    text-align: center;  
    padding-bottom: 20px; 
}
.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
    background-image: url(banner3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}

.imgbanbtn:hover {
    opacity: .8;
}

.imgbanbtn-prev {
    left: 5px;
    background-image: url(arrow-left.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn-next {
    right: 5px;
    background-image: url(arrow-right.png);
    background-size: 68%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {    
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    }
.main-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.site-links,
.logo {
    text-decoration: none;
    color: gainsboro;
}

nav {
    width: 100%;
    background-color: #363636;
    opacity: .7;
    /* overflow: hidden; */
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    /*     
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 20%; */
}

.logo {
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /* font-size: 20px; */
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
}

a:hover {
    color:  white;
    text-decoration: none;
}

a:visited {
    color: gainsboro;
    text-decoration: none;
}

.daijoubu {
    width: 100%;
    height: 100%;
    text-align: center;
}

.sayonara {
    padding-top: 100px;
    text-align: center;
} 

.main-banner .imgban-box h2{
    font-size: 60px;
    color: #ffffff;    
}

.main-banner .imgban-box p{
    font-size: 16px;
    color: white;
    padding-top: 6px;    
}

.main-banner #imgban3 .imgban-box {
    padding-top: 220px;
    padding-left: 100px;
}

.main-banner #imgban2 .imgban-box {
    padding-top: 220px;
    padding-right: 100px;
    float: right; 
    text-align: right;
}

.main-banner #imgban1 .imgban-box {
    padding-top: 70px;
    padding-left: 100px;
}

.projects a {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}



.back {
    background-color:rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

.gimmespace {
    height: 300px;
}

.aboutme {
    padding: 200px;
    justify-content: center;
    text-align: center;
}